extends layout

block content
	div(id="perfil" class="columna" style="height: 50%;width: 40%;")
		div(class="row")
			//modal de mensajeria
			div(class="modal fade" id="myModal" role="dialog")
				div(class="modal-dialog modal-sm")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal") &times;
							h4(class="modal-title") Mensajeria
						div(class="row modal-body")
							div(class="col-xs-3")
								form(action="#")
									div(class="mdl-textfield mdl-js-textfield mdl-textfield--expandable")
										label(class="mdl-button mdl-js-button mdl-button--icon" for="sample6")
											i(class="material-icons") search
										div(class="mdl-textfield__expandable-holder")
											input(class="mdl-textfield__input" type="text" id="sample6")
											label(class="mdl-textfield__label" for="sample-expandable")
							div(class="col-xs-3")
								form(action="#")
									div(class="mdl-textfield mdl-js-textfield")
										textarea(class="mdl-textfield__input" type="text" rows= "3" id="sample5")
										label(class="mdl-textfield__label" for="sample5") Text lines...
							div(class="col-xs-6")
							
						div(class="modal-footer")
							button(type="button" class="btn btn-default" data-dismiss="modal") Close
			div(id="imagenPerfil" class=" col-xs-12 text-center")
				each perfil in listaPerfil
					if perfil.usuario == usuario
						- var ruta = "/uploads/"+perfil.usuario+".png";
						div(class="col-xs-5")
							img(alt="Imagen Perfil" id="imaUser" src=ruta class="img-responsive center-block img-circle text-center")
						div(id="perfilesUsuarios" class="row col-xs-7 text-center center-block")
							div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
								label(id="labelNombrePerfil")=perfil.nombre
								&nbsp;
								label(id="labelApellidoPerfil")=perfil.apellido
							if perfil.placa == "XXX0000"
								div(class="row" style="display:none")
									div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
										label Placa del Carro:
										label(id="labelPlaca")=perfil.placa
									div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
										div(id="labelCapacidad")
											label Placa del Carro:
											label=perfil.capacidadCarro
							else 
								div(class="row" )
									div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
										label(id="labelPlaca")=perfil.placa
									div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
										div(id="labelCapacidad")
											label Capacidad del Carro:
											label=perfil.capacidadCarro
							div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
								label(id="labelBio")=perfil.bio
		div(class="row")
			div(class="form-group col-xs-4")
			div(class="form-group col-xs-1 col-md-1 col-lg-1")
				form(action="/editar" method="GET")
					div(class="fileUpload btn btn-default")
						span(class="glyphicon glyphicon-pencil")
						input(type="submit" class="upload")
			//mensajeria
			div(class="form-group col-xs-1 col-md-1 col-lg-1")
				form(action="#" method="")
					div(class="fileUpload btn btn-default")
						span(class="glyphicon glyphicon-envelope")
						input(type="submit" class="upload" data-toggle="modal" data-target="#myModal")
			//imagen1
			//div(class="form-group col-xs-1")
			//	form(method="POST", enctype="multipart/form-data", action="/subir")
			//		fieldset
			//			label Seleccciona una imagen1
			//			input(type="file" name="image")
			//			br
			//			button(type="submit" class="btn btn-danger") Subir
			//imagen2
			
			div(class="form-group col-xs-1 col-md-1 col-lg-1")
				form(action="/subirImagen" method="GET")
					div(class="fileUpload btn btn-default")
						span(class="glyphicon glyphicon-picture")
						input(type="submit" class="upload")

	nav(id="rutas-nav" class="columna")
		div(id="div-rutas-nav")
			div(id="rutaPerfil" class="text-center")
				p Mis Rutas
					span(class="glyphicon glyphicon-map-marker")
			ul(class="nav nav-pills nav-stacked")
				li(class="misRutas" data-name="Casa")
					a(href="#")
						div(class="row")
							div(class="text-left col-md-3")
								img(alt="Imagen GoogleMaps" id=""  class="img-responsive img-circle" src="/images/icon.png")
							div(class="text-center col-md-9")
								span ESPOL - PUERTO MORO
				hr
				li(class="" data-name="")
					a(href="#")
						div(class="row")
							div(class="text-left col-md-3")
								img(alt="Imagen GoogleMaps" id=""  class="img-responsive img-circle" src="/images/icon.png")
							div(class="text-center col-md-9")
								span ESPOL - FIEC
				hr
	nav(id="rutas-nav" class="columna")
		div(id="rutaSeguidores" class="text-center")
			p Rutas de mis Seguidores
				span(class="glyphicon glyphicon-map-marker")
		ul(id="listaSeguidoresRutas" class="nav nav-pills nav-stacked")
			li(class="misRutas" data-name="Casa")
				a(href="#")
					div(class="row")
						div(class="text-left col-md-3")
							img(alt="Imagen GoogleMaps" id=""  class="img-responsive img-circle" src="/images/user2.jpg")
						div(class="text-center col-md-9")
							span FIEC - MALL DEL SOL
			hr
			li(class="misRutas" data-name="Casa")
				a(href="#")
					div(class="row")
						div(class="text-left col-md-3")
							img(alt="Imagen GoogleMaps" id=""  class="img-responsive img-circle" src="/images/user3.jpg")
						div(class="text-center col-md-9")
							span RIO CENTRO NORTE - ESPOL
			hr
	script(src='/javascripts/perfil_val.js')
	link(rel="stylesheet", href="/stylesheets/perfil_style.css")