extends layout

block content
	div(class="container")
		div(class="row profile")
			div(class="col-md-3")
				div(class="profile-sidebar")
					each perfil in listaPerfil
						if perfil.usuario == usuario
							- var ruta = "/uploads/"+perfil.usuario+".png";
							div(class="profile-userpic")
								img(src=ruta class="img-responsive" alt="")
							div(class="profile-usertitle")
								- var nombrePerfil = perfil.nombre+" "+perfil.apellido
								div(class="profile-usertitle-name")=nombrePerfil
								div(class="profile-usertitle-job")=perfil.usuario
							div(class="profile-userbuttons")
								button(type="button" class="btn btn-success btn-sm") Seguidores
								button(type="button" class="btn btn-danger btn-sm") Siguiendo
							div(class="profile-usermenu")
								ul(class="nav")
									li()
										a(href="/editar")
											i(class="glyphicon glyphicon-user text-center") Editar
									li()
										a(href="/chat" target="_blank")
											i(class="glyphicon glyphicon-envelope text-center") Mensajeria
									li()
										a(href="#" onclick="habilitaImagenDiv();")
											i(class="glyphicon glyphicon-picture text-center") Editar Imagen
									if perfil.placa != "XXX0000"
										li()
											a(href="#")
												- var placaCarro = "Placa : "+perfil.placa;
												i(class="glyphicon glyphicon-flag text-center")=placaCarro
										li()
											a(href="#")
												- var capacidad= "Capacidad del Carro: "+perfil.capacidadCarro;
												i(class="glyphicon glyphicon-scale text-center")=capacidad
									li()
										a(href="#")
											i(class="glyphicon glyphicon-star text-center")=perfil.bio
				div(id="formularioImagen" style="display:none" class="profile-sidebar")
					div(class="form-group")
						form(role="form" action="/subir" method="post" enctype="multipart/form-data")
							div(class="fileUpload btn btn-default")
								label  Seleccione una imagen ..
								span(class="glyphicon glyphicon-folder-open")
								input(name="file" type="file" id="files" class="upload")
							div(class="form-group")
								div()
									button(type="submit" class="btn btn-default" onclick="habilitaImagenDiv();")
										span(class="glyphicon glyphicon-ok-circle")
									&nbsp; &nbsp; 
									button(type="submit" class="btn btn-default" onclick="desabilitaImagenDiv();")
										span(class="glyphicon glyphicon-remove-circle")
			div(class="col-md-9")
				div(class="profile-content") ASDSADSAFASDFASF

		
	script(src='/javascripts/perfil_val.js')
	script(src='https://code.jquery.com/jquery-latest.js')
	link(rel="stylesheet", href="/stylesheets/perfil_style.css")