extends layout

block content
	div(class="container")
		div(class="row profile")
			div(class="col-md-3")
				div(class="profile-sidebar")
					each perfil in listaPerfil
						if perfil.usuario == usuario
							- var ruta = "/uploads/"+perfil.usuario+".png";
							div(class="profile-userpic")
								img(src=ruta class="img-responsive" alt="")
							div(class="profile-usertitle")
								- var nombrePerfil = perfil.nombre+" "+perfil.apellido
								div(class="profile-usertitle-name")=nombrePerfil
								div(class="profile-usertitle-job")=perfil.usuario
							div(class="profile-userbuttons")
								button(type="button" class="btn btn-success btn-sm") Seguidores
								button(type="button" class="btn btn-danger btn-sm") Siguiendo
							div(class="profile-usermenu")
								ul(class="nav")
									li()
										a(href="/editar")
											i(class="glyphicon glyphicon-pencil")
											label(class="text-center") Editar
									li()
										a(href="/chat" target="_blank")
											i(class="glyphicon glyphicon-envelope")
											label(class="text-center") Mensajeria
									li()
										a(href="#" onclick="habilitaImagenDiv();")
											i(class="glyphicon glyphicon-picture text-center")
											label(class="text-center") Editar Imagen
									if perfil.placa != "XXX0000"
										li()
											a(href="#")
												- var placaCarro = "Placa : "+perfil.placa;
												i(class="glyphicon glyphicon-flag text-center")
												label(class="text-center")=placaCarro
										li()
											a(href="#")
												- var capacidad= "Capacidad del Carro: "+perfil.capacidadCarro;
												i(class="glyphicon glyphicon-scale text-center")
												label(class="text-center")=capacidad
									li()
										a(href="#")
											i(class="glyphicon glyphicon-star text-center")
											label(class="text-center")=perfil.bio
				//carga un div con la imagen para poder ponerla en /upload
				div(id="formularioImagen" style="display:none" class="profile-sidebar")
					div(class="form-group")
						form(role="form" action="/subir" method="post" enctype="multipart/form-data")
							div(class="fileUpload btn btn-default")
								label  Seleccione una imagen ..
								span(class="glyphicon glyphicon-folder-open")
								input(name="file" type="file" id="files" class="upload")
							div(class="form-group")
								div()
									button(type="submit" class="btn btn-default" onclick="habilitaImagenDiv();")
										span(class="glyphicon glyphicon-ok-circle")
									&nbsp; &nbsp; 
									button(type="submit" class="btn btn-default" onclick="desabilitaImagenDiv();")
										span(class="glyphicon glyphicon-remove-circle")
			div(class="col-md-9")
				div(class="profile-content")
					div(class="row")
						//Seguidores
						each usuario in listaUsuarios
							each seguidor in listaSeguidor
								if usuario.usuario == seguidor.idUsuario2Seguidor
									div(class="col-md-4 col-sm-6")
										div(class="thumbnail")
											div(class="profile-userpic")
												img(src="/uploads/user.jpg" class="img-responsive" alt="...")
											div(class="caption")
												div(class="profile-usertitle")
													a(href="#")
														div(class="profile-usertitle-name")
															p
																span(name="usuarioSeguidor" class="glyphicon glyphicon-user")=usuario.usuario
												p ver ruta
												div(class="profile-userbuttons")
													div(class="btn-group btn-group-justified" role="group" aria-label="...")
														div(class="btn-group" role="group")
															a(href="/enviar_notificacion_llevame")
																i(class="glyphicon glyphicon-flag")
																	label() llevame
														div(class="btn-group" role="group")
															a(href="#")
																i(class="glyphicon glyphicon-plus")
																	label()=usuario.capacidadCarro
														div(class="btn-group" role="group")
															a(href="#")
																i(class="glyphicon glyphicon-time")
																	label() hora
	script(src='/javascripts/perfil_val.js')
	script(src='https://code.jquery.com/jquery-latest.js')
	link(rel="stylesheet", href="/stylesheets/perfil_style.css")